/* Write your CSS here */
.each-list-item-container {
  list-style-type: none;
}

.similar-img {
  width: 200px;
  border-radius: 5px;
  margin-right: 34px;
}
.similar-title {
  color: #171f46;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
}
.price-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.similar-price {
  color: #171f46;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto';
}
.similar-rating {
  height: 24px;
  width: 52px;
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  border-radius: 5px;
  margin-left: 15px;
}
.similar-brand {
  color: #475569;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}
